@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
// default styles for all project
* {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #000000DE;
}

.title{
  font-size: 40px;
  line-height: 40px;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1124px)  {
  .container{
    max-width: 90%;
  }
}